---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

    interface Props 
    {
        excerpt: string,
        heading: string,
        slug: string,
        image: {
            src: string,
            width: number,
            height: number,
            format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif",
        }
    }

    const {excerpt, heading, slug, image} = Astro.props
---

<article class="flex flex-col justify-between gap-2">
    <div class="grid gap-2">
        <div class="rounded-md w-full overflow-hidden aspect-video relative">
            <div class="bg-black/35 absolute inset-0"></div>
            <Image class="w-full h-full object-cover" alt="" src={image} loading="eager" />
        </div>
        <div class="grid gap-2 text-center">
            <p class="font-bold text-lg">{heading}</p>
            <p class="text-zinc-800">{excerpt}</p>
        </div>
    </div>
    <a href={slug} class="w-full bg-blue-300 py-2 rounded-md flex justify-center items-center gap-1">Read more <Icon name="move-right" /></a>
</article>