---
import ContentContainer from "@components/ContentContainer.astro";
import MainLayout from "src/layouts/MainLayout.astro";
---

<MainLayout title="about-us">
    <ContentContainer className="py-5 text-center">
        <h1 class="font-bold text-4xl">About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora repudiandae officia officiis blanditiis! Cum eaque natus et? Unde earum ex voluptatem nemo reiciendis numquam reprehenderit eum laudantium? Corporis, eligendi minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias minus, reprehenderit quo explicabo veniam dignissimos, autem expedita qui assumenda voluptatem facere ducimus voluptatum praesentium recusandae quis. Debitis quia tempore at?</p>
        <h2 class="font-bold text-3xl">Contact:</h2>
        <p>Email: test@example.pl</p>
        <p>Phone number: +48 999 999 999</p>
    </ContentContainer>
</MainLayout>