---
import { cn } from '../../utils'
interface Props {
    icon: string,
    href: string,
    className: string
 }
 const {className, href, icon} = Astro.props
 import { Icon } from 'astro-icon/components'
---

<a href={href} rel="nofollow" class={cn("text-white rounded-full aspect-square w-10 flex items-center justify-center", className)}>
    <Icon name={icon} />
</a>